body {
  background-color: rgb(201, 187, 205);
  color: rgb(17, 6, 58);
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-top: 40px;
  padding-bottom: 20px;
}
.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  border-bottom: 1px dashed grey;
  padding: 20px;
}
h2 {
  margin: 0 0 10px;
  font-size: 28px;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
h1 {
  text-align: center;
  font-size: 50px;
}
footer {
  text-align: center;
  font-size: 18px;
  color: black;
}
